.avatar{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    font-weight: 600;
}
.navbar-brand > svg {
    display: inline-block;
    margin: 0 10px 0 0;
}
.dir-rtl .navbar-brand > svg {
    margin: 0 0 0 10px;
}
h1 {
    font-size: 24px;
    margin-top: 0;
}
.content {
    margin: 15px;
}
.progress {
    margin-bottom: 0;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: none;
    width: 100%;
}
.progress-cell .progress {
    width: 400px;
}
.progress-bar {
    box-shadow: none;
}
.progress-table > tbody > tr > th,
.progress-table > tbody > tr > td {
    border: none;
    padding-bottom: 3px;
}
.progress-table .actions {
    padding-bottom: 8px;
}
.progress-row {
    padding: 0 8px 8px 8px !important;
    margin: 0;
}
.progress-row .progress {
    height: 8px;
    border-radius: 0;
    border: none;
    display: block;
}
.nav-pills {
    margin-bottom: 20px;
}
.vertical-text {
    writing-mode: tb;
}
footer {
    width: 100%;
}
footer ul {
    padding:0;
    display: table;
    margin:2em auto 1em auto;
    max-width:none;
    clear:both;
}
footer li{
    font-size:  14px;
    list-style:none;
    padding:0.5em;
    color:gray;
    border:none;
    display: inline-block;
}
footer a {
    color:#333;
}
ul.legend {
    width: 15em;
}
ul.legend li {
    list-style: none;
    padding: 2px;
    text-align: left;
}
.legend .progress {
    width: 14px;
}
.legend .progress-bar {
    width: 14px;
}
.helptext {
    font-size: smaller;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.translatetext {
    background-color: #eee;
}
.current_translation {
    background-color: #f5f5f5;
}

.pagination {
    margin: 5px 0;
}

.translator .form-group {
    margin-bottom: 5px;
}
.translator .list-group {
    margin-bottom: 0;
}
.translator .checkbox {
    margin-bottom: 0;
    margin-top: 0;
}
.translator {
    vertical-align: bottom !important;
}
.paginatoraddon .form-group {
    margin-bottom: 0;
}
.paginatoraddon .form-control {
    display: inline-block;
    width: auto;
}
.inlineform {
    display: inline-block;
}
textarea.translation-editor {
    height: 3em;
}
textarea#id_comment {
    height: 5em;
}
.source-checks .check {
    white-space: nowrap;
}
.hlcheck {
    border: 1px dotted #AEB7CF;
    background-color: #E0EAF1;
    display: inline-block;
    cursor: pointer;
}
.hlmatch {
    background-color: #eb3;
}
.hlspace {
    border-bottom: 1px dotted red;
    color: gray;
    white-space: pre;
    display: inline-block;
}
.space-tab:before {
    content: "→";
}
.space-nl:before {
    content: "↵";
}
.space-space:before {
    content: "·";
}
ins, span.replacement {
    background-color: lightgreen;
}
del, span.replaced {
    background-color: #fc7979;
}
.editor-toolbar {
    margin: 3px 0;
}
.panel-body .table-condensed {
    margin-bottom: 0;
}
td .list-group {
    margin-bottom: 0;
}

.code-example {
    font-family: monospace;
    white-space: pre;
    height: auto;
}
.sort-cell {
    cursor: pointer;
}
.sort-cell:hover {
    color: #1FA385;
}
.sort-icon {
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0 5px;
}
th .sort-icon.sort-up {
    background-image: url('sort/up.svg');
}
th .sort-icon.sort-down {
    background-image: url('sort/down.svg');
}
th:hover .sort-icon {
    background-image: url('sort/hover-down.svg');
}
th:hover .sort-icon.sort-up {
    background-image: url('sort/hover-up.svg');
}
.asteriskField {
    display: none;
}
.subscription-checkboxes label {
    margin-left: 20px;
    font-weight: normal;
}
.subscription-checkboxes input {
    margin-left: 0;
}
.engage {
    text-align: center;
    padding-top: 6em;
}
.engage h1 {
    font-size: 56px;
    font-weight: normal;
    padding-bottom: 0.5em;
    letter-spacing: -0.46px;
}
.engage h2 {
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 0.5em;
    line-height: 1.5em;
    letter-spacing: 0.65px;
}
.engage p {
    line-height: 1.5em;
    font-size: 16px;
}
.engage .buttons {
    padding: 3em;
}
.engage .buttons a {
    margin: 1em;
}
.bignumbers {
    padding: 1em 0em;
}
.bignumbers .col-md-4:first-child {
    border-left: none;
}
.bignumbers strong {
    display: block;
    font-weight: normal;
    font-size: 56px;
    letter-spacing: -1px;
}
.bignumbers p {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
@media only screen and (max-width : 992px) {
    .engage {
        padding-top: 2em;
    }
}
@media only screen and (min-width : 992px) {
    .bignumbers .col-md-4 {
        border-left: 1px solid gray;
    }
}
@media only screen and (min-width : 1200px) {
    .bignumbers {
        padding: 3em 1em;
    }
}
.btn-desc p {
    display: inline-block;
}
.btn-desc {
    margin: 5px 0;
}
.btn-spaced {
    margin: 5px;
}
.ct-chart .ct-series.ct-series-a .ct-bar {
    stroke: #1fa385;
    stroke-width: 15px;
}
.table-auth .auth-image {
    margin-right: 12px;
}
.dir-rtl .table-auth .auth-image {
    margin-right: 0;
    margin-left: 12px;
}
.history-row > div {
    padding: 10px 0;
}
.history-row + .history-row > div {
    border-top: 1px solid #E9EAEC;
}
.history-event, .history-data .text-muted {
    font-size: 14px;
}
.history-event p {
    margin-left: 34px;
}
.comment-content {
    border-radius: 0 5px 5px 5px;
    background-color: #E5F0F2;    
    padding: 8px 10px;
}
.comment-source {
    background-color: #F2E5EA;
}
.btn-float {
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    border-radius: 3px;
    position: relative;
    top: -5px;
    z-index: 10;
    padding: 0 2px;
}
.btn-float .btn {
    padding: 2px 2px;
    line-height: 0;
}
kbd {
    border: 1px solid #BFC3C7;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.zen {
    table-layout: fixed;
}
.zen tr td:first-child {
    width: 130px;
}
.zen .translatetext label {
    width: 130px;
    position: absolute;
    left: 0;
    text-align: right;
}
.zen-unit:nth-child(even) {
    background-color: #f9f9f9;
}
.zen-context {
    padding: 0 1em;
}
.pagination .dropdown-menu {
    margin-top: -10px;
    padding: 10px;
    font-size: smaller;
}
.pagination .dropdown-toggle {
    text-align: center;
}
.billing-buttons {
    text-align: center;
}
.unit-navi {
    min-width: 25em;
}
.fullmodal .modal-dialog {
    width: auto;
}
legend {
    font-size: 14px;
    font-weight: bold;
}
.shot-list .img-responsive {
    max-height: 15em;
}
.search-results {
    height: 20em;
    overflow-y: auto;
    width: 100%;
}

.tos {
    counter-reset: tos_chapter;
}

.tos h2:before {
    counter-increment: tos_chapter;
    content: counter(tos_chapter) ". ";
}

.tos h2 {
    counter-reset: tos_paragraph;
}

.tos  p.item:before {
    counter-increment: tos_paragraph;
    content: counter(tos_chapter) "." counter(tos_paragraph) ". ";
}

.vertical-badge .badge {
    clear: right;
}
.stripe-odd {
  background-color: #f9f9f9;
}
.list-group-item {
    padding: 5px 10px;
}
.history .list-group-item {
  background-color: inherit;
}
.bottom-button {
    vertical-align: bottom !important;
}
.panel-footer-links {
    padding: 0;
}
.panel-footer-links .btn-link {
    padding: 12px;
}
.auth-image {
    vertical-align: middle;
    height: 40px;
    width: 40px;
}
.long-filename {
    word-wrap : break-word;
}
.overflow-wrap {
    overflow-wrap: anywhere;
}

input[type="date"].form-control, input[type="time"].form-control,
input[type="datetime-local"].form-control, input[type="month"].form-control {
    line-height: initial;
}
.highlight-number {
    position: absolute;
}
.update-log {
    height: 20em;
}
.badge-warning {
    background-color: #8a6d3b;
}
.badge-danger {
    background-color: #a94442;
}
.invalid-format {
    text-decoration: line-through;
}
.widgets-selector img {
    max-width: 200px !important;
    max-height: 200px;
}
.widgets-selector li a {
    display: table-cell;
    vertical-align: bottom;
    height: 240px;
    text-align: center;
    padding-top: auto;
}
.list-buttons {
    margin: 10px 0 5px 0;
}
.panel-checks {
    padding: 0;
}
.panel-checks .list-group {
    margin-bottom: 0;
}
.panel-checks .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dir-rtl .pull-right > .dropdown-menu {
  left: 0;
  right: auto;
}
td.number, th.number {
    text-align: right;
}
.dir-rtl td.number, .dir-rtl th.number {
    text-align: left;
}
.table-autowidth {
    width: auto;
}
.table-autowidth tr td, .table-autowidth tr th {
    white-space: nowrap;
}
.table-autowidth tr .full-cell {
    width: 100%;
    white-space: normal;
}
.table-border {
    border: 1px solid #BFC3C7;
    border-radius: 3px;
    border-collapse: separate;
}
.buttons-cell {
    vertical-align: middle !important;
    text-align: right;
}
.dir-rtl .buttons-cell {
    text-align: left;
}
.clickable-row {
	cursor: pointer;
}
.clickable-row:hover {
    background-color: #E9EAEC;
}
.nav-pills > li > a, .btn-default {
    color: #1FA385;
}
.nav-pills > li > a {
    font-weight: 600;
}
.nav-pills > li > a {
    border: 1px solid transparent;
}
.nav-pills > .active > a, .nav > .active > a:hover {
    border: 1px solid #144d3f;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills .open > a,
.nav-pills .open > a:hover,
.nav-pills .open > a:focus {
    border: 1px solid #E9EAEC;
}
.btn-default:hover,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills .open > a,
.nav-pills .open > a:hover,
.nav-pills .open > a:focus {
    color: #144D3F;
    background: none;
}
.breadcrumb {
    border-bottom: 1px solid #E9EAEC;
    font-size: 16px;
}
.breadcrumb a {
    color: #2A3744 !important;
}
.state-icon {
    vertical-align: middle;
}
.badge.length {
    color: #fff;
    background-color:  #bfc3c7;
    padding: 1px 3px;
    margin-top: 5px;
}
thead th {
    font-weight: normal;
}
.table > thead > tr > th {
    border-bottom: 1px solid #bfc3c7;
}
.btn {
	transition: all 300ms linear;
	-webkit-transition: all 300ms linear;
}
.btn-spaced {
    margin-left: 10px;
}
.dir-rtl .btn-spaced {
    margin-left: 0;
    margin-right: 10px;
}
.btn-primary, .btn-warning, .btn-danger {
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 7px 24px;
}
.btn-link.btn-xs {
    padding: 0;
    border: none;
    line-height: 10px;
}
.navbar a path {
    fill: #BFC3C7;
}
.navbar .navbar-brand:focus path, .navbar .navbar-brand:active path, .navbar a:hover path {
    fill: #2eccaa;
}
.navbar .open a path, .navbar .open a:hover path {
    fill: #fff;
}
.btn-link path {
    fill: #2A3744;
}
.btn-link:hover path {
    fill: #1fa385;
}
.green path, .btn-default path {
    fill: #1fa385;
}
.btn-default:hover path {
	fill: #144D3F;
}
.btn-primary path, .btn-warning path {
    fill: #fff;
}
button.green:hover path, a.green:hover path {
    fill: #2A3744;
}
.red path {
    fill: #F6664C;
}
.panel-heading .doc-link path {
    fill: #2A3744;
}
button.red:hover path, a.red:hover path {
    fill: #f43c1b;
}
.btn-lg {
    height: 50px;
    border-radius: 25px;
    padding: 13px 24px;
}
.btn-primary {
    background-color: #2A3744;
}
.btn-warning {
    background-color: #2ECCAA;
}
.btn-warning:hover {
    background-color: #2A3744;
}
.btn-primary:hover {
    background-color: #2ECCAA;
}
.btn-group-settings {
    clear: both;
}
.btn-group-settings a {
    color: #2A3744;
}
.btn-group-settings a:hover {
    color: #1fa385;
}
svg {
    vertical-align: middle;
}
.pagination svg, .btn-xs svg, .btn-group-xs svg {
    width: 18px;
    height: 18px;
}
#popup-alerts {
    position: fixed;
    z-index: 1000;
    top: 70px;
    width: 100%;
    padding: 32px;
    display: none;
}
.source-info, .source-info h5 {
    font-size: 14px;
}
.string-info .list-group-item {
    padding: 15px;
}
.string-info .list-group-item h5 {
    font-weight: 600;
    margin: 0;
}
.string-info .thumbnail {
    margin-top: 8px;
    margin-bottom: 0;
}
.source-info thead th {
    font-weight: 600;
}
.source-info th, .source-info td {
    border: none !important;
}
.formats {
	padding: 20px 0;
	text-align: center;
}
.format-item {
	height: 30px;
	padding: 0 0 0 10px;
	border-radius: 5px;
	background-color: #144D3F;
	margin: 5px 5px;
	display: inline-block;
	overflow: hidden;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
a.format-item:hover {
	color: #fff;
}
.format-item span {
	font-size: 14px;
	padding: 0 12px;
	font-weight: 400;
	margin: 0 -1px 0 10px;
	line-height: 30px;
	border-radius: 0 5px 5px 0;
	display: inline-block;
	color: #fff;
	background-color: #1FA385;
}
.dir-rtl .format-item {
	padding: 0 10px 0 0;
}
.dir-rtl .format-item span {
	margin: 0 -1px 0 10px;
	border-radius: 0 5px 5px 0;
}
.state-icon span {
    display: none;
}
.state-icon.state-need-edit .state-need-edit {
    display: inline;
}
.state-icon.state-empty .state-empty {
    display: inline;
}
.state-icon.state-alert .state-alert {
    display: inline;
}
.state-icon.state-approved .state-approved {
    display: inline;
}
.state-icon.state-translated .state-translated {
    display: inline;
}
.state-icon.state-comment .state-comment {
    display: inline;
}
.state-icon.state-suggest .state-suggest {
    display: inline;
}
.icon-spin {
  -webkit-animation: icon-spin 1s infinite linear;
  animation: icon-spin 1s infinite linear;
  display: inline-block;
}
@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@media (max-width: 768px) {
    .zero-width-768 {
        display: none;
        width: 0;
    }
}
@media (max-width: 900px) {
    .zero-width-900 {
        display: none;
        width: 0;
    }
}
@media (max-width: 1000px) {
    .zero-width-1000 {
        display: none;
        width: 0;
    }
}
@media (max-width: 720px) {
    .zero-width-720 {
        display: none;
        width: 0;
    }
}
@media (max-width: 640px) {
    .zero-width-640 {
        display: none;
        width: 0;
    }
}
