{% extends "base.html" %}
{% load i18n %}
{% load translations %}

{% block breadcrumbs %}
<li><a href="{% url 'checks' %}">{% trans "Checks" %}</a></li>
<li><a href="{% url 'show_check' name=check.check_id %}">{{ check.name }}</a></li>
<li><a href="{% url 'show_check_project' name=check.check_id project=project.slug %}">{{ project }}</a></li>
{% endblock %}

{% block content %}

<div class="row">
<div class="col-lg-6">
<div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title">{% trans "Checks listing" %}</h4></div>

{% if checks %}
<div class="list-group">
{% for obj in checks %}
<a class="list-group-item" href="{% url 'show_check_component' name=check.check_id project=obj.translation__component__project__slug component=obj.translation__component__slug %}{{ url_params }}"><span class="badge">{{ obj.count }}</span>{% component_name obj.translation__component__project__slug obj.translation__component__slug %}</a>
{% endfor %}
</div>
{% else %}
<div class="panel-body">
{% trans "No matching checks found!" as msg %}
{% show_message "warning" msg %}
</div>
{% endif %}

</div>
</div>

<div class="col-lg-6">
<div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title">{% trans "Check details" %}</h4></div>
  <div class="panel-body">
    <p>
    {{ check.description }}
    </p>
  </div>
  <div class="panel-footer">
  <a class="btn btn-primary" href="{{ check.get_doc_url  }}">{% trans "Documentation" %}</a>
  </div>
</div>
</div>
</div>

</div>
{% endblock %}
