{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'about' %}">{% trans "About Weblate" %}</a></li>
{% endblock %}

{% block content %}

<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title">{% trans "About Weblate" %}</h4></div>
<div class="panel-body">

<p>{% blocktrans %}Weblate is a web based translation tool with tight version control integration. It features a simple and clean user interface, propagation of translations across components, quality checks and automatic linking to source files.{% endblocktrans %}</p>

<p>{% blocktrans %}More information about Weblate can be found on {{ weblate_link }}.{% endblocktrans %}</p>

<p>{% blocktrans %}Weblate is libre software created by volunteers, and accepts donations.{% endblocktrans %}</p>

</div>
<div class="panel-footer">
<a class="btn btn-primary" href="https://weblate.org/donate/">{% trans "Donate to Weblate" %}</a>
</div>
</div>


{% if offer_hosting %}
<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title">{% trans "Hosting translations" %}</h4></div>
<div class="panel-body">
<p>
{% trans "This Weblate instance hosts translations for various libre software projects." %}
{% blocktrans %}Weblate can host your project as well, please get in touch.{% endblocktrans %}
</p>
  <p>
    {% trans "Commercial hosting is also available, pricing starts at 19 EUR per month, please get in touch for more details." %}
  </p>
</div>
  <div class="panel-footer">
  <a class="btn btn-primary" href="{% url 'hosting' %}">{% trans "Ask for project hosting" %}</a>
  <a class="btn btn-primary btn-spaced" href="https://weblate.org/hosting/">{% trans "View hosting plans" %}</a>
{% if payment_enabled %}
  <a href="{% url 'create-billing' %}?upgrade=1" class="btn btn-primary btn-spaced">{% trans "Purchase new hosting plan" %}</a>
{% else %}
  <a class="btn btn-primary btn-spaced" href="{% url 'contact' %}?t=hosting">{% trans "Contact us for commercial hosting" %}</a>
{% endif %}
  </div>
</div>
{% endif %}


<div class="panel panel-default">
<div class="panel-heading"><h4 class="panel-title">{% trans "Versions" %}</h4></div>
<div class="panel-body formats">
{% for ver in versions %}
<a class="format-item" href="{{ ver.1 }}">{{ ver.0 }}
<span>{{ ver.2 }}</span>
</a>
{% endfor %}


</div>
<div class="panel-footer">

<p>{% trans "Weblate owes its existence to these projects." %}</p>
</div>
</div>

{% endblock %}
