{% extends "mail/base.html" %}

{% load i18n %}{% load translations %}

{% block content %}
<p>
{% blocktrans %}New alert has been triggered on {{ component }} at {{ site_title }}.{% endblocktrans %}
</p>

<h2>{{ alert }}</h2>

{{ alert.render }}

<div class="line buttons">
    <a class="button" href="{{ component.get_absolute_url }}#alerts">{% trans "View all alerts" %}</a>
</div>

{% endblock %}
