{% load i18n %}
{% load icons %}

{% if component.fsf_approved_license %}
<span aria-hidden="true" title="{% trans "Libre license according to the FSF" %}">{% icon "approved.svg" %}</span>
{% elif component.osi_approved_license %}
<span aria-hidden="true" title="{% trans "OSI approved license" %}">{% icon "approved.svg" %}</span>
{% endif %}
