{% load compress %}
{% load static %}

{% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}{{ cache_param }}" />
{% if LANGUAGE_BIDI %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-rtl.css' %}{{ cache_param }}" />
{% endif %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-datepicker3.css' %}{{ cache_param }}" />
  <link rel="stylesheet" type="text/css" href="{% static 'font-source/source-sans-pro.css' %}{{ cache_param }}" />
  <link rel="stylesheet" type="text/css" href="{% static 'font-source/source-code-pro.css' %}{{ cache_param }}" />
  <link rel="stylesheet" type="text/css" href="{% static 'chartist.css' %}{{ cache_param }}" />
  <link rel="stylesheet" type="text/css" href="{% static 'multi.css' %}{{ cache_param }}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style-bootstrap.css' %}{{ cache_param }}" />
{% endcompress %}
